<app-navbar></app-navbar>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8">
            <div class="row">
              <div class="col-md-9">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                      <h3>My posts</h3> 
                      <app-myposts></app-myposts>                      
                  </div>
                </div>
              </div>
            </div>
           </div>

          <div class="col-lg-4">       
            <app-mydata></app-mydata>      
          <div class="card mb-4 mb-md-0">
          
        </div> 
      </div>    
    </div>
  </div>
</section>